.board {
  background: hsl(152, 76%, 80%);
  padding: 5px;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    &-body {
      background: #ad9d8f;
      width: max-content;
      padding: 5px;
      border-radius: 5px;
      margin-top: 10px;
    }
    &-row {
      display: flex;
    }
}

.finish {
  width: 350px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  border-radius: 5px;
  font-size: 24px;
  color: #f9f6f2;
  background: hsl(46, 84%, 55%);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);

  @media (max-width: 360px) {
    width: 100%;
  }
}