.tile {
  height: 80px;
  width: 80px;
  background: rgba(238, 228, 218, 0.35);
  margin: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  @media (max-width: 360px) {
    height: 70px;
    width: 70px;
  }
}
