body{
  background: hsl(180, 97%, 25%);
  margin : 0;
  padding: 0;
  height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    min-width: 450px;
    &__contents {
      margin-top: 30px;
    }
  }

.game {
  display: flex;
  flex-direction: column;
  border-radius: 10px;

  &-group {
    display: flex;
    justify-content: space-between;
  }

  &-title {
    text-align: center;
    line-height: 80px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin-left: 15px;
    width: 120px;
    height: 80px;
    background: #edc22e;
    border-radius: 3px;
  }

  &-score {
    &-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-flow: row wrap;
      flex: 1 100%;
      width: min-content;
      padding-right: 15px;
    }
    &-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 70px;
      background: #baaea0;
      color: white;
      font-size: 15px;
      font-weight: bold;
      padding: 5px 15px;
      border-radius: 3px;
      margin-left: 10px;

      &--current {
        color: #eee4da;
      }
    }
  }

  &-refresh {
    background: #f87474;
    font-weight: bold;
    color: white;
    border: none;
    border-radius: 3px;
    width: 80px;
    height: 80px;
    margin-left: 5px;
    cursor: pointer;
  }
}